# Gender Classification from Text Blog

## Load dataset into notebook

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
#!  conda install  openpyxl

In [4]:

#df = pd.read_excel('blog-gender-dataset/blog-gender-dataset.xlsx', engine='openpyxl')
headers = ["text", "class"]
text_df = pd.read_csv('blog-gender-dataset/blog-gender-dataset.csv')

In [5]:
text_df = text_df.iloc[:, [0, 1]]
text_df.columns = headers
text_df

                                                   text class
0      Guest Demo: Eric Iverson’s Itty Bitty Search\...     M
1     Who moved my Cheese???   The world has been de...     M
2      Yesterday I attended a biweekly meeting of an...     M
3      Liam is nothing like Natalie. Natalie never w...     F
4     In the EU we have browser choice, but few know...     M
...                                                 ...   ...
3226  It was a scavenger style race with checkpoints...     M
3227  Finally! I got a full day's work done. Almost ...     F
3228  At the height of laughter, the universe is flu...     M
3229  I like birds, especially woodpeckers and MOST ...     M
3230  Oh friends, it's finally here! I thought the m...     F

[3231 rows x 2 columns]

In [6]:
text_df.shape

(3231, 2)

In [7]:
text_df["class"].describe()

count     3226
unique       8
top          M
freq      1546
Name: class, dtype: object

In [8]:
text_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3231 entries, 0 to 3230
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    3224 non-null   object
 1   class   3226 non-null   object
dtypes: object(2)
memory usage: 50.6+ KB

In [9]:
text_df[text_df['class']=="M"].shape

(1546, 2)

In [10]:
text_df[text_df['class']=="F"].shape

(1390, 2)

In [11]:
text_df = text_df.dropna()
text_df

                                                   text class
0      Guest Demo: Eric Iverson’s Itty Bitty Search\...     M
1     Who moved my Cheese???   The world has been de...     M
2      Yesterday I attended a biweekly meeting of an...     M
3      Liam is nothing like Natalie. Natalie never w...     F
4     In the EU we have browser choice, but few know...     M
...                                                 ...   ...
3226  It was a scavenger style race with checkpoints...     M
3227  Finally! I got a full day's work done. Almost ...     F
3228  At the height of laughter, the universe is flu...     M
3229  I like birds, especially woodpeckers and MOST ...     M
3230  Oh friends, it's finally here! I thought the m...     F

[3224 rows x 2 columns]

## Clean text

In [ ]:
import nltk
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

In [ ]:
from bs4 import BeautifulSoup
import String
from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer
from nltk.stem import WordNetLemmatizer
from nltk.stem.porter import PorterStemmer

https://towardsdatascience.com/nlp-for-beginners-cleaning-preprocessing-text-data-ae8e306bef0f